<section class="content-about container group">

    <img src="/images/annhall.jpg" alt="Ann Hall" />

      <h2>Hello, I'm Ann.</h2>

      <q>"Life should not be a journey to the grave <br>
        with the intention of arriving safely in an attractive and well preserved body, but rather to
        skid in sideways, chocolate in one hand, wine in the other, body thoroughly used up,
        totally worn out and screaming...WooHoo...What a Ride!"</q>

  </section>

  <section class="row">
  <div class="grid">

    <h3>Background</h3>

      <p>In 2001 my mother, sister, and I started a non-profit foundation, The Foundation for Children in Need,
        based in Haiti. At 16 years old, I was the volunteer coordinator, scheduling, directing and driving
        groups of volunteers to various orphanages in Port-au-Prince, Haiti.</p>

      <p>In 2004 I received certification through DXATC in Drafting and started working as a civil draftsman
        and quickly moved on to architectural drafting, particularly commercial. After two years as a single
        working mother, I got married and decided to leave my job to be a stay at home mother.</p>

      <p>I began teaching myself web design and created my first website for our non-profit foundation.
        I delved into HTML when I wasn't satisfied with the limitations of the web building software.
        Working from home, I started building websites for others. I also started editing photos for those
        websites and found my love for graphic design. From there I began designing logos.</p>

      <p>Last year I became a full-time student at Dixie State University, working on a Bachelors in
        Graphic Design. I was also a personal chef at a fitness spa, as well as sous chef on Mint The Food Truck.</p>

  </div>
</section>

<!-- About Me -->

<section class="content">

    <h2>a bit about me:</h2>
      <ul>
        <li>I love coffee and wine.</li>
        <li>Art is a hobby and passion.</li>
        <li>Creating is how I'm wired.</li>
        <li>Talking in front of groups is a fear.</li>
        <li>I love food.</li>
        <li>I have 3 kids.</li>
        <li>Spartan Race for fun.</li>
      </ul>

            <h4>Supporting my family while doing something<br>
               I have a passion for, is my goal.</h4>

</section>
