<html>
  <head>
    <title>Ann Hall</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css" />
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Lato:100,300,400|Comfortaa:700,300" rel="stylesheet" />
  </head>
  <body>

  <header class="container group">

    <h1 class="logo"><a href="/">ann hall</a></h1>

  <!-- Navigation -->

  <nav class="nav">
    <ul>
      <li><a href="/">home</a></li>
      <li><a href="/resume">resume</a></li>
      <li><a href="/contact">contact me</a></li>
    </ul>
  </nav>

  </header>

    <%=yield%>

  <footer class="primary-footer container group">

    <nav class="nav">
      <ul>
        <li><a><img src="/images/twitter.png" alt="Twitter" /></a></li>
        <li><a><img src="/images/facebook.png" alt="Facebook" /></a></li>
        <li><a><img src="/images/instagram.png" alt="Instagram" /></a></li>
        <li><a><img src="/images/linkedin.png" alt="Linked In" /></a></li>

      </ul>
    </nav>

  </footer>
  </body>
</html>
