<section class="container-contact group">

  <h3>resume</h3>
  <h5>CREATE. DESIGN. DEVELOP.</h5><br />
  <p>Full Stack Ruby on Rails Developer<br />
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br />
  Curabitur eget nibh quis quam tincidunt volutpat sit amet ac diam.<br />
  Praesent placerat sapien id sapien molestie convallis.<br />
  Integer vitae nisi auctor, tincidunt augue congue, sagittis est.<br />
  Sed faucibus mauris quis risus fringilla dictum.<br />
  Suspendisse scelerisque ligula sed pretium posuere.<br /></p>
</section>

<section class="row">
  <div class="grid">

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae tellus suscipit,
      consectetur tortor a, iaculis quam. Vestibulum et magna tortor. Sed euismod, odio et posuere congue,
      dui nisi pretium magna, non egestas odio quam sed enim. Suspendisse consectetur ligula turpis,
      sed tempus sem iaculis eu. Sed et consectetur erat. Curabitur luctus malesuada eros id egestas.
      Vestibulum eu dictum massa. Aliquam erat volutpat. Vivamus iaculis tortor at lorem volutpat, sed
      elementum nunc maximus. Curabitur eget convallis metus, non tristique nisi. Donec turpis ante,
      venenatis a nulla quis, vehicula rhoncus lorem. Fusce sodales, arcu sed maximus blandit, metus
      diam facilisis risus, eget varius ipsum sem et arcu. Maecenas tristique at velit nec imperdiet. Vivamus
      rutrum tortor orci, eget commodo orci commodo ut. Fusce iaculis accumsan erat rhoncus mattis.</p>

  </div>
</section>
